/*

ATTENTION : EVERY WORD IN THIS CSS IS SUPER DUPER SENSITIVE, MODIFY WITH CARE

*/

.btn-switch-bg-dayLights
{
    background-color: #cccccc; /**#333333*/
}

.btn-switch-bg-dayLights:before
{
    background-color: #ffffff; /**#000*/
}

.table-secondary,
.table-secondary > th,
.table-secondary > td
{
    background-color: #fdfefe; /**#020101*/
}

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody
{
    border-color: #fbfcfd; /**#040302*/
}

.table-hover .table-secondary:hover
{
    background-color: #ecf6f6; /**#130909*/
}
.table-hover .table-secondary:hover > td,
.table-hover .table-secondary:hover > th
{
    background-color: #ecf6f6; /**#130909*/
}

.btn-secondary
{
    color: #212529; /**#DEDAD6*/
    border-color: #f7fafc; /**#080503*/
    background-color: #f7fafc; /**#080503*/
    box-shadow: rgba(50, 50, 93, .11); /***/
}
.btn-secondary:hover
{
    color: #212529; /**#dedad6*/
    border-color: #f7fafc; /**#080503*/
    background-color: #f7fafc; /**#080503*/
}
.btn-secondary:focus,
.btn-secondary.focus
{
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08), 0 0 0 0 rgba(247, 250, 252, .5); /***/
}
.btn-secondary.disabled,
.btn-secondary:disabled
{
    color: #212529; /**#dedad6*/
    border-color: #f7fafc; /**#080503*/
    background-color: #f7fafc; /**#080503*/
}
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle
{
    color: #212529; /**#dedad6*/
    border-color: #f7fafc; /**#080503*/
    background-color: #d2e3ee; /**#*/
}
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.btn-secondary:not(:disabled):not(.disabled).active:focus,
.show > .btn-secondary.dropdown-toggle:focus
{
    box-shadow: 0 0 0 0 rgba(247, 250, 252, .5); /***/
}

.alert-secondary
{
    color: #212529; /**#dedad6*/
    border-color: #f8fbfc; /***/
    background-color: #f8fbfc; /***/
}
.alert-secondary a
{
    color: #8dbece; /***/
}
.alert-secondary a:hover
{
    color: #212529; /**#dedad6*/
}
.alert-secondary hr
{
    border-top-color: #e6f1f4; /***/
}
.alert-secondary .alert-link
{
    color: #d2e3ee; /***/
}

.list-group-item-secondary
{
    color: #808283; /***/
    background-color: #fdfefe; /***/
}
.list-group-item-secondary.list-group-item-action:hover,
.list-group-item-secondary.list-group-item-action:focus
{
    color: #808283; /***/
    background-color: #ecf6f6; /***/
}
.list-group-item-secondary.list-group-item-action.active
{
    color: #fff; /***/
    border-color: #808283; /***/
    background-color: #808283; /***/
}

.bg-secondary
{
    background-color: #f7fafc !important; /**#080503*/
}

a.bg-secondary:hover,
a.bg-secondary:focus,
button.bg-secondary:hover,
button.bg-secondary:focus
{
    background-color: #d2e3ee !important; /***/
}

.border-secondary
{
    border-color: #f7fafc !important; /**#080503*/
}

.text-secondary
{
    color: #f7fafc !important; /**#080503*/
}

a.text-secondary:hover,
a.text-secondary:focus
{
    color: #bfd7e7 !important; /***/
}

.alert-secondary .close > span:not(.sr-only)
{
    color: rgba(23, 43, 77, .6); /***/
}

.alert-secondary .close:hover > span:not(.sr-only),
.alert-secondary .close:focus > span:not(.sr-only)
{
    color: #172b4d; /***/
}

.badge-secondary
{
    color: #212529; /**#dedad6*/
    background-color: #f7fafc; /***/
}

.btn-outline-secondary
{
    color: #4385b1; /***/
}

.custom-checkbox-secondary .custom-control-input:checked ~ .custom-control-label::before
{
    border-color: #f7fafc; /**#080503*/
    background-color: #f7fafc; /**#080503*/
}

.icon-shape-secondary
{
    color: #cfe3f1; /***/
    background-color: rgba(255, 255, 255, .5); /***/
}

.checklist-item-secondary:before
{
    background-color: #f7fafc; /**#080503*/
}

.modal-secondary .modal-title
{
    color: #212529; /**#dedad6*/
}

.modal-secondary .modal-header,
.modal-secondary .modal-footer
{
    border-color: rgba(33, 37, 41, .075); /***/
}

.modal-secondary .modal-content
{
    color: #212529; /**#dedad6*/
    background-color: #f7fafc; /**#080503*/
}
.modal-secondary .modal-content .heading
{
    color: #212529; /**#dedad6*/
}

.modal-secondary .close > span:not(.sr-only)
{
    color: #fff; /***/
}

.popover-secondary
{
    background-color: #f7fafc; /**#080503*/
}
.popover-secondary .popover-header
{
    color: #212529; /**#dedad6*/
    background-color: #f7fafc; /**#080503*/
    border-color: rgba(33, 37, 41, .2); /***/
}
.popover-secondary .popover-body
{
    color: #212529; /**#dedad6*/
}

.popover-secondary.bs-popover-top .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^='top'] .arrow::after
{
    border-top-color: #f7fafc; /**#080503*/
}
.popover-secondary.bs-popover-right .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^='right'] .arrow::after
{
    border-right-color: #f7fafc; /**#080503*/
}
.popover-secondary.bs-popover-bottom .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^='bottom'] .arrow::after
{
    border-bottom-color: #f7fafc; /**#080503*/
}
.popover-secondary.bs-popover-left .arrow::after,
.popover-secondary.bs-popover-auto[x-placement^='left'] .arrow::after
{
    border-left-color: #f7fafc; /**#080503*/
}

.bg-gradient-secondary
{
    background: linear-gradient(87deg, #f7fafc 0, #f7f8fc 100%) !important; /***/
}

.section-secondary
{
    background-color: #f7fafc !important; /**#080503*/
}

a.section-secondary:hover,
a.section-secondary:focus,
button.section-secondary:hover,
button.section-secondary:focus
{
    background-color: #d2e3ee !important; /***/
}

.fill-secondary
{
    fill: #f7fafc; /**#080503*/
}

.stroke-secondary
{
    stroke: #f7fafc; /**#080503*/
}
